<!-- templates/result.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>predicting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body_predicting">

<!-- 결과 페이지의 내용을 원하는 대로 추가할 수 있습니다. -->
<div id="bulb-container">
    <h2>모델이 예측한 결과를 통해 어디로 공이 향할지 예측중...</h2>
    <p></p>
    <img id="bulb" src="{{ url_for('static', filename='images/bulb.png') }}" alt="전구 이미지">
</div>

<script src="../static/js/predicting.js"></script>

</body>
</html>
