.body_next_page {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 화면 오버플로우 제어 */
}

#fullscreen-video {
    width: 100vw; /* 화면의 100% 너비를 차지하도록 설정 */
    height: 100vh; /* 화면의 100% 높이를 차지하도록 설정 */
    object-fit: cover;
}