@import "bulb-container.css";

.body_predicting {
    margin: 0;
    padding: 0;
    background: black url("../../images/A_headon_shot_of_the_goalkeeper_in_front_of_the.jpg") no-repeat center center fixed;
    background-size: contain;
    font-family: Arial, sans-serif;
    color: #ffffff;
    height: 100vh;  /* 화면의 100% 높이를 차지하도록 설정 */
}