@import "drop-area.css";
@import "goalkeeper.css";
@import "btn.css";
@import "file-input.css";
@import "message.css";

.body_image_input {
    margin: 0;
    padding: 0;
    background: url("../../images/soccer_goalpost.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;  /* 폰트 설정 (선택) */
    color: #ffffff;  /* 텍스트 색상 설정 (선택) */
    font-weight: bold;
}