#bulb {
    width: 10%; /* 전구 이미지의 초기 너비 (상대적인 크기로 조절) */
    height: auto;
    animation: bulbAnimation 1s infinite;
    position: absolute;
    top: calc(30% + 100px);
    left: 65%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    /* 화면 너비가 768px 이상일 때 전구 크기 조절 */
    #bulb {
        width: 8%;
        top: calc(20% + 50px); /* 전구의 위치 조절 */
    }
}

@media (min-width: 1200px) {
    /* 화면 너비가 1200px 이상일 때 전구 크기 조절 */
    #bulb {
        width: 10%;
        top: calc(15% + 150px); /* 전구의 위치 조절 */
    }
}

@keyframes bulbAnimation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}