@import "title_logo.css";
@import "main_title.css";
@import "btn.css";

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}