@import "content.css";

.body_index {
    margin: 0;
    padding: 0;
    background: url("../../images/san-siro-2430650_1920.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;  /* 폰트 설정 (선택) */
    color: #ffffff;  /* 텍스트 색상 설정 (선택) */
}

.body_index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* Adjust the alpha value to control the darkness */
}

.img_logo {
    width: 100%;
    height: auto;
    max-width: 100vw;  /* 이미지가 뷰포트의 100%를 넘지 않도록 설정 */
}