.image-container-left {
    position: relative;
    margin: auto;
    display: block;
}

#fullscreen-image-left {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
    margin-top: 15vh;
    margin-left: 10vw;
}

.word_balloon_left {
    position: absolute;
    width: 19%;
    height: 42%;
    top: -15vh;
    left: 10vw;
}