<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/style.css">    
</head>
<body class="body_index">
    <div class="content">
        <!-- 기존 내용을 .content로 감싸줍니다. -->
        <div class="title_logo">
            <img class="img_logo" src="{{url_for('static', filename='images/football-player-landing-on-field-missing-the-ball.png')}}" alt="soccer_player">
        </div>
        <div class="main_title">
            <h1>WORLD CLASS KIM3BAEK</h1>
        </div>
        <form action="{{ url_for('image_input') }}" method="get">
            <button class="btn">LET'S PREDICT</button>
        </form>
    </div>
</body>
</html>
