<!-- templates/next_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다음 페이지</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="body_next_page">

<!-- 비디오를 전체 화면에 표시 -->
<video id="fullscreen-video" src="{{ url_for('static', filename='images/날라오는 공.mp4') }}" alt="Fullscreen Gif"></video>

<script src="../static/js/next_page_correct.js"></script>

</body>
</html>
